//margins
$mg-xs: 4px;
$mg-sm: 8px;
$mg-md: 16px;
$mg-lg: 32px;
$mg-xl: 64px;

//padding
$pd-xs: 4px;
$pd-sm: 8px;
$pd-md: 16px;
$pd-lg: 32px;
$pd-xl: 64px;

//gap
$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-lg: 32px;
$gap-xl: 64px;

//border radius
$border-none: 0px;
$border-xs: 2px;
$border-sm: 4px;
$border-md: 8px;
$border-lg: 16px;
$border-xl: 32px;
