//font size
$font-size-base: 14px;
$font-size-small: 11px;
$font-size-big: 24px;

//font family
$font-family-title: 'Georgia', "Times New Roman", serif;
$font-family-base: 'Georgia', "Times New Roman", sans-serif;
