@use 'index' as tokens;

.book-list-container {
  background-color: tokens.$colors-color-bg;
  display: grid;
  grid-template-columns: auto;
  gap: tokens.$spacing-gap-md;
  padding: tokens.$spacing-pd-lg tokens.$spacing-pd-md;

  @include tokens.breakpoints-sm {
    grid-template-columns: 1fr 1fr;
  }

  @include tokens.breakpoints-md {
    grid-template-columns: 1fr 1fr;
    gap: tokens.$spacing-gap-lg;
  }

  @include tokens.breakpoints-xl {
    grid-template-columns: 1fr 1fr 1fr;
    gap: tokens.$spacing-gap-lg;
    padding: tokens.$spacing-pd-xl tokens.$spacing-pd-lg;
  }
}
